@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

input.form-control.add-todo {
  margin-bottom: 10px;
}

.glyphicon:empty {
    width: 1em;
    padding-top: 3px;
}

.todo-item {
  border: 0;
  font-size: 16px;
  width: 80%;

}

.todo-item-done {
  border: 0;
  text-decoration: line-through;
}

.hide {
  display: none;
}

.show {
  display: inline !important;
}

textarea{
  border: 0;
  width: 100% !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

