<div id="login_view" ng-controller="LoginCtrl">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        SIGN IN
      </div>
    </div>
    <div class="panel-body">
      <form role="form" ng-submit="login(loginForm)" name="loginForm" novalidate>
        <div class="form-group">
          <input name="username" id="id_username" type="text" ng-model="model.username" placeholder="Username" class="form-control" required />
        </div>
        <div class="alert alert-danger" ng-repeat="error in errors.username">{{error}}</div>
        <div class="form-group">
          <input name="password" id="id_password" type="password" ng-model="model.password" placeholder="Password" class="form-control" required />
        </div>
        <div class="alert alert-danger" ng-repeat="error in errors.password">{{error}}</div>
        <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
        <div class="alert alert-danger" ng-if="error">{{error}}</div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="#/register" type="submit" class="btn btn-default pull-right">Register</a>
        <a href="#/passwordReset" type="submit" class="btn btn-default pull-right">Send Reset Password</a>
      </form>
    </div>
  </div>
</div>
