<!-- Uncomment for easy debugging of routes -->
<!-- <h4>Routes</h4> -->
<!-- <p> -->
<!-- <a ng-hide="authenticated" href="#/login" class="btn btn-primary">Login</a> -->
<!-- <a ng-hide="authenticated" href="#/passwordReset" class="btn btn-primary">Send Password Reset</a> -->
<!-- <a ng-hide="authenticated" ng-click="goConfirmReset()" class="btn btn-primary">Confirm Password Reset</a> -->
<!-- </p> -->
<!-- <p> -->
<!-- <a ng-show="authenticated" href="#/logout" class="btn btn-primary">Logout</a> -->
<!-- <a ng-hide="authenticated" ng-href="#/register" class="btn btn-primary">Register</a> -->
<!-- <a ng-click="goVerify()" class="btn btn-primary">Verify Email</a> -->
<!-- <a ng-show="authenticated" href="#/passwordChange" class="btn btn-primary">Change Password</a> -->
<!-- <a ng-show="authenticated" href="#/userProfile" class="btn btn-primary">Profile</a> -->
<!-- <a href="#/authRequired" class="btn btn-primary">Restricted Page</a> -->
<!-- <a href="#/todos" class="btn btn-primary">Todos</a> -->
<!-- </p> -->
<!-- <hr/> -->
<!-- <h4>Kitchen Sink Demo</h4> -->
<!-- <div style="margin-bottom:25px;"> -->
<!--   <div style="margin-bottom:15px;"> -->
<!--     <button ng-hide="authenticated" ng-click="login()" class="btn btn-primary">Login</button> -->
<!--     <button ng-show="authenticated" ng-click="logout()" class="btn btn-primary">Logout</button> -->
<!--     <button ng-hide="authenticated" ng-click="resetPassword()" class="btn btn-primary">Send Password Reset</button> -->
<!--     <button ng-hide="authenticated" ng-click="confirmReset()" class="btn btn-primary">Confirm Password Reset</button> -->
<!--     <button ng-hide="authenticated" ng-click="register()" class="btn btn-primary">Register</button> -->
<!--     <button ng-click="verify()" class="btn btn-primary">Verify Email</button> -->
<!--     <button ng-show="authenticated" ng-click="changePassword()" class="btn btn-primary">Change Password</button> -->
<!--     <button ng-show="authenticated" ng-click="profile()" class="btn btn-primary">Get Profile</button> -->
<!--     <button ng-show="authenticated" ng-click="updateProfile()" class="btn btn-primary">Update Profile</button> -->
<!--   </div> -->

<!--   <p><textarea style="width:90%;height:200px;">{{response}}</textarea></p> -->

<!-- </div> -->

<!-- <hr/> -->
<div ng-if="show_login" ng-include="'static/views/login.html'"></div>
<div ng-if="!show_login" class="alert alert-info">You have logged in.</div>

