<div id="passwordChange_view" ng-controller="PasswordchangeCtrl">

  <ul class="nav nav-pills">
    <li role="presentation"><a href="#/userProfile">Profile</a></li>
    <li role="presentation" class="active"><a href="#/passwordChange">Change Password</a></li>
  </ul>

  <hr>
  <div ng-if="complete == false">
    <form role="form" ng-submit="changePassword(changePasswordForm)" name="changePasswordForm" ng-if="authenticated" novalidate>
      <div class="form-group">
        <label for="id_password1">New Password</label>
        <input name="new_password1" id="id_password1" type="password" ng-model="model.new_password1" placeholder="New Password" class="form-control" required />
      </div>
      <div class="alert alert-danger" ng-repeat="error in errors.new_password1">{{error}}</div>
      <div class="form-group">
        <label for="id_password2">Repeat Password</label>
        <input name="new_password2" id="id_password2" type="password" ng-model="model.new_password2" placeholder="Repeat Password" class="form-control" required />
      </div>
      <div class="alert alert-danger" ng-repeat="error in errors.new_password2">{{error}}</div>
      <button ng-show="authenticated" type="submit" class="btn btn-primary">Change Password</button>
    </form>
    <div class="alert alert-warning" ng-if="authenticated != true">You need to be logged in to do this!</div>
  </div>
  <div ng-if="complete == true">
    <div class="alert alert-success">You have changed your password.</div>
  </div>
</div>
