<div id="passwordResetConfirm_view" ng-controller="PasswordresetconfirmCtrl">
  <div ng-if="complete == false">
    <form role="form" ng-if="authenticated != true" ng-submit="confirmReset(confirmResetForm)" name="confirmResetForm" novalidate>
      <div class="form-group">
        <label for="id_password1">New Password</label>
        <input name="password1" id="id_password1" type="password" ng-model="model.new_password1" placeholder="New Password" class="form-control" required />
      </div>
      <div class="alert alert-danger" ng-repeat="error in errors.password1">{{error}}</div>
      <div class="form-group">
        <label for="id_password2">Repeat Password</label>
        <input name="password2" id="id_password2" type="password" ng-model="model.new_password2" placeholder="Repeat Password" class="form-control" required />
      </div>
      <div class="alert alert-danger" ng-repeat="error in errors.password2">{{error}}</div>
      <button type="submit" ng-hide="authenticated" class="btn btn-primary">Reset Password</button>
    </form>
    <p ng-if="authenticated">You are already logged in!  You don't need to reset your password.</p>
  </div>
  <div ng-if="complete == true">
    <div class="alert alert-success">You have changed your password.</div>
  </div>
</div>
