<div class="row" ng-controller=TodosCtrl>
  <div class="todolist not-done">
    <input type="text"
    ng-keyup="$event.keyCode == 13 && addTodo()"
    ng-model="newTodo"
    class="form-control add-todo"
    placeholder="Add todo"
    ng-focus="todoItemHasFocus = true"
    ng-blur="todoItemHasFocus = false"
    autofocus
    >
    <p class="text-muted pull-right hide" ng-class="{'show': todoItemHasFocus}">Hit return to create a new task</p>
    <button id="checkAll" class="btn btn-success" ng-click="hideComplete = !hideComplete">
      {{ !hideComplete ? 'Hide completed tasks' : 'Show all tasks' }}
    </button>
    <hr>
    <ul id="sortable" class="list-unstyled">
      <li class="ui-state-default"
      ng-repeat="todo in todos"
      ng-mouseenter="hover = true"
      ng-mouseleave="hover = false"
      ng-class="{'hide': hideComplete && todo.is_done}">

      <div>
        <input type="checkbox"
        ng-model="todo.is_done"
        ng-value="true"
        ng-click='saveTodo(todo)'
        />
        <input type="text"
        ng-model="todo.name"
        ng-class="{'todo-item-done': todo.is_done, 'show-editable': hover}" class="todo-item "
        ng-blur='saveTodo(todo)'
        />
        <div ng-class="{'hide': !hover}" class="pull-right">
          <!-- <button -->
          <!-- class="btn btn-default btn-xs " ng-click="focusTodo()">Edit</button> -->
          <button ng-class="{'hide': !hover}"
            class="remove-item btn btn-default btn-xs"
            ng-click="removeTodo($index, todo)"
            >
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>


        <!-- <textarea -->
        <!--   ng-model="todo.description" -->
        <!--   placeholder="Description" -->
        <!--   ng-class="{'hide': !hover}" -->
        <!--   ></textarea> -->

        <br>
        <!-- {{ todo}} -->
        <!-- {{ hover}} -->

      </div>
      </li>
    </ul>
  </div>
  <hr>

  <p class="text-muted">Tip: Click todo item text to edit</p>

</div>
