<div id="userProfile_view" ng-controller="UserprofileCtrl">

  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#/userProfile">Profile</a></li>
    <li role="presentation"><a href="#/passwordChange">Change Password</a></li>
  </ul>

  <hr>

  <div ng-if="complete == false">
    <form role="form" ng-if="authenticated" name="userProfileForm" ng-submit="updateProfile(userProfileForm, model)" novalidate>
      <div class="form-group">
        <label for="id_first_name">First Name</label>
        <input name="first_name" id="id_first_name" class="form-control" type="text" ng-model="model.first_name" placeholder="First Name" />
      </div>
      <div class="alert alert-danger" ng-repeat="error in errors.first_name">{{error}}</div>
      <div class="form-group">
        <label for="id_last_name">Last Name</label>
        <input name="last_name" id="id_last_name" class="form-control" type="text" ng-model="model.last_name" placeholder="Last Name" />
      </div>
      <div class="alert alert-danger" ng-repeat="error in errors.last_name">{{error}}</div>
      <div class="form-group">
        <label for="id_email">Email</label>
        <input name="email" id="id_email" class="form-control" type="email" ng-model="model.email" placeholder="Email" required />
      </div>
      <div class="alert alert-danger" ng-repeat="error in errors.email">{{error}}</div>
      <button type="submit" ng-show="authenticated" class="btn btn-primary">Update Profile</button>
    </form>
    <div class="alert alert-warning" ng-if="authenticated == false">You need to be logged in to do this.</div>
  </div>
  <div ng-if="complete == true">
    <div class="alert alert-success">You have updated your profile.</div>
  </div>
</div>
