<div id="verifyEmail_view" ng-controller="VerifyemailCtrl">
  <div ng-if="success" class="alert alert-success">You have successfully verified your email address.</div>
  <div ng-if="failure" class="alert alert-warning">Sorry, there's been an error.</div>
</div>
