<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Todos app</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css static/styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css({.tmp,app}) static/styles/main.css -->
<link rel="stylesheet" href="static/styles/main.css">
<link rel="stylesheet" href="static/styles/todos.css">
<link rel="stylesheet" href="static/bower_components/angular-loading-bar/build/loading-bar.min.css">
<!-- endbuild -->
</head>
<body ng-app="angularTodoApp" ng-controller="MasterCtrl">
<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      {% verbatim %}
      <li class="active hide" ng-class="{'show': !profile}"><a ng-href="#/" >Home</a></li>
      <li class="active hide" ng-class="{'show': profile}"><a ng-href="#/todos" >Todos</a></li>
      <li class="active hide" ng-class="{'show': profile}"><a ng-href="#/userProfile" >Profile</a></li>
      <li class="active hide" ng-class="{'show': profile}"><a ng-href="#/logout" >Logout</a></li>
      {% endverbatim %}
    </ul>
    <h3 class="text-muted">Todos</h3>
  </div>

  <!-- Add your site or application content here -->
  <div ng-view=""></div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-XXXXX-X');
ga('send', 'pageview');
</script>

<!--[if lt IE 9]>
    <script src="static/bower_components/es5-shim/es5-shim.js"></script>
    <script src="static/bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

<!-- build:js static/scripts/vendor.js -->
<!-- bower:js -->
<script src="static/bower_components/jquery/jquery.js"></script>
<script src="static/bower_components/angular/angular.js"></script>
<script src="static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="static/bower_components/angular-resource/angular-resource.js"></script>
<script src="static/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="static/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="static/bower_components/angular-route/angular-route.js"></script>
<script src="static/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) static/scripts/scripts.js -->
<script src="static/scripts/app.js"></script>
<script src="static/scripts/functions.js"></script>
<script src="static/scripts/controllers/main.js"></script>
<script src="static/scripts/controllers/register.js"></script>
<script src="static/scripts/controllers/passwordreset.js"></script>
<script src="static/scripts/controllers/passwordresetconfirm.js"></script>
<script src="static/scripts/controllers/login.js"></script>
<script src="static/scripts/controllers/verifyemail.js"></script>
<script src="static/scripts/controllers/logout.js"></script>
<script src="static/scripts/controllers/userprofile.js"></script>
<script src="static/scripts/controllers/passwordchange.js"></script>
<script src="static/scripts/services/djangoAuth.js"></script>
<script src="static/scripts/services/validate.js"></script>
<script src="static/scripts/services/models.js"></script>
<script src="static/scripts/controllers/master.js"></script>
<script src="static/scripts/controllers/restricted.js"></script>
<script src="static/scripts/controllers/authrequired.js"></script>
<script src="static/scripts/controllers/todos.js"></script>
<!-- endbuild -->


</body>
</html>
